body
{
   margin: 0;
   padding: 0;
   background-color: #F0FFF0;
   color: #000000;
}
#wb_Text34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text34 div
{
   text-align: center;
}
#wb_Form2
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Editbox4
{
   border: 1px #246187 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#696969;
   font-family: 'PT Sans';
   font-size: 16px;
   padding: 0px 0px 0px 10px;
   text-align: left;
   vertical-align: middle;
}
#Button3
{
   border: 0px #A9A9A9 solid;
   background-color: #F0F0F0;
   background-image: url(images/button%20%2810%29.png);
   background-repeat: no-repeat;
   background-position: left top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Editbox5
{
   border: 1px #246187 solid;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #FFFFFF;
   color :#696969;
   font-family: 'PT Sans';
   font-size: 16px;
   padding: 0px 0px 0px 10px;
   text-align: left;
   vertical-align: middle;
}
