/* Our Works Gallery */

.f-carousel {
  --f-carousel-spacing: 28px;
  /* 3 is amount of gaps and 8 is a gap above 3 * 8 = 24 */
  --f-carousel-slide-width: calc((100% - 3 * 28px) / 4);
}

.our-works-gallery .f-carousel__slide {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  border: 2px solid#5b94d9;
}
.our-works-gallery .f-carousel__slide:hover .f-carousel__caption {
  background-color: rgba(0, 0, 0, 0.5);

  transform: translateY(0);
}

.our-works-gallery .f-carousel__slide:hover img {
  transform: scale(1.1);
}

.our-works-gallery .f-carousel__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  transform: translateY(40%);
  transition: all 0.3s ease-in-out;
}

.our-works-gallery .f-carousel__text {
  height: 50%;
  margin-bottom: 12px;
  font-weight: 700;
}

.our-works-gallery .f-carousel__caption * {
  color: #fff;
}

.our-works-gallery .f-carousel__caption h3 {
  font-size: 12px;
}

.our-works-gallery .f-carousel__caption p {
  font-size: 16px;
  color: #5b94d9;
}

.our-works-gallery .f-carousel__caption a {
  display: inline-block;
  color: #fff;
  background-color: #5b94d9;
  padding: 4px 6px;
  display: inline-block;
  border-radius: 2px;
  font-size: 12px;

  transition: background-color 0.3s, color 0.3s ease-in-out;
}
.our-works-gallery .f-carousel__caption a:hover {
  color: #fff;
  background-color: #1e569b;
  text-decoration: underline;
}

.our-works-gallery .f-carousel__slide img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .our-works-gallery .f-carousel__slide {
    max-width: 50%;
  }
}

.fancybox__content {
  max-width: 480px;
}

.fancybox-image {
  object-fit: cover;
}

.fancybox__text h4 {
  font-weight: bold;
}

.fancybox__text {
  background-color: #fff;
  padding: 0 16px;
}

.f-button.is-next,
.f-button.is-prev {
  background-color: #5b94d9;
  color: #fff;
  border-radius: 50%;
  padding: 2px;
  font-size: 14px;
  cursor: pointer;

  transition: background-color 0.3s, color 0.3s ease-in-out;
  transform: translateY(10px) !important;
  z-index: 999 !important;
}

.f-button.is-next {
  right: -20px !important;
}
.f-button.is-prev {
  left: -20px !important;
}

.f-button.is-prev:hover,
.f-button.is-next:hover {
  background-color: #1e569b;
}

.f-button.is-next:disabled,
.f-button.is-prev:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
